.container {
  border: 1px solid #eee;
  margin-bottom: 2em;
  padding: 2em;
  padding-bottom: 0;
}

.columns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editorContainer {
  flex: 1;
  max-width: 50%;
}

.codeContainer {
  flex: 1;
  max-width: 50%;
}

.codeContainer code {
  background-color: initial;
  border: none;
  font-size: 0.9em;
  overflow-wrap: anywhere;
}

.chartContainer {
  flex: 1;
  text-align: center;
  max-width: 50%;
}

.arrowContainer:before {
  content: '➜';
  flex: 0.2;
  color: rgba(72, 56, 74, 0.2);
  font-size: 4em;
  text-align: center;
}

.editCta {
  text-align: center;
}

.iframe {
  border: 0;
}

@media screen and (max-width: 996px) {
  .columns {
    flex-direction: column;
  }
  .editorContainer,
  .codeContainer,
  .chartContainer {
    max-width: 100%;
  }

  .arrowContainer:before {
    content: '↓';
    font-size: 2em;
  }
}
