.container {
  border: 1px solid #eee;
  border-left: none;
  border-right: none;
  margin-bottom: 2em;
  padding: 1em 0 0.5em 0;
}

[data-theme='dark'] .container {
  border-color: #333;
}

.columns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editorContainer {
  flex: 1;
  max-width: 50%;
  align-self: stretch;
  position: relative;
}

.codeContainer {
  flex: 1;
  max-width: 50%;
}

.codeContainer code {
  background-color: initial;
  border: none;
  font-size: 0.9em;
  overflow-wrap: anywhere;
}

.chartContainer {
  flex: 1;
  text-align: center;
}

.chartUrl {
  font-size: 0.75rem;
  margin-left: 0.5rem;
}

.arrowContainer:before {
  content: '➜';
  flex: 0.2;
  color: rgba(72, 56, 74, 0.2);
  font-size: 4em;
  text-align: center;
}

.editCta {
  padding-top: 2em;
  text-align: center;
}

.iframe {
  border: 0;
}

@media screen and (max-width: 996px) {
  .columns {
    flex-direction: column;
  }
  .editorContainer,
  .codeContainer,
  .chartContainer {
    max-width: 100%;
    align-self: center;
  }

  .arrowContainer:before {
    content: '↓';
    font-size: 2em;
  }

  .chartUrl {
    margin: 2rem 0;
  }
}
