.container {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #267063;
  border-left-width: 5px;
  border-radius: 0.4rem;
}

.container p:last-child {
  margin-bottom: 0;
}

.container code {
  font-weight: bold;
  border: none;
}
