.container {
  text-align: center;
  margin: auto;
  border: 1px solid #eee;
  padding: 2em;
  margin-bottom: 2em;
}

.noBorder {
  border: none;
  padding: 0;
}

.caption {
  font-size: 0.8em;
}

.dropShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2em;
}
